@font-face {
  font-family: "vazir";
  src: url("../Font/Vazir.eot") format("eot"),
    url("../Font/Vazir.ttf") format("truetype"),
    url("../Font/Vazir.woff") format("woff2"),
    url("../Font/Vazir.woff2") format("woff");
}

a{
    text-decoration: none;
}

body{
    font-family: Vazir;
    direction: rtl;
    margin: 0;
    padding: 0;
}

.container{
    width: 1100px;
    margin: auto;
}

.row{
    display: flex;
}

/* header */

#header-top{
    width: 100%;
    background-color: #252525;
    height: 4vh;
    display: flex;
}

#header-top .header-top-message{
    width: 50%;
    display: flex;
    color: #fff;
    align-items: center;
    font-size: 13px;
}

#header-top .header-top-social{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

#header-top .header-top-social ul{
    display: flex;
    width: 20%;
    height: 100%;
    align-items: center;
}

#header-top .header-top-social ul li{
    width: 25%;
    text-align: left;
}

#header-top .header-top-social ul li a{
    color: #fff;
    font-size: 15px;
}

/* info */

#info{
    background-color: #0e0e0e;
    padding: 5px 0;
}

#info .info-item{
    width: 25%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

#info .info-item .info-item-icon svg{
    color: #fff;
    font-size: 33px;
}

#info .info-item .info-item-desc{
    color: #fff;
    font-size: 13px;
}

#info .info-item .info-item-desc p{
    line-height: 20px;
}

#info .info-item:nth-child(2){
    margin-right: 15px;
}

#info .info-item:nth-child(3){
margin-right: 15px;
}

#info .info-item .info-item-desc .friday{
    font-size: 13px;
}

#info .info-item .info-item-desc.phone{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

#info .info-item .info-item-desc.phone .mobile{
    margin-top: 0px;
}

/* slider */

#slider{
    background-image: url(../images/p1.jpg);
    background-size: cover;
    height: 565px;
    display: flex;
    align-items: center;
    position: relative;
}

#slider .overlay{
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#slider .slider-desc{
    width: 100%;
    height: 565px;
    font-size: 35px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#slider .slider-desc .typed{
    margin-top: 20px;
}


#slider .slider-desc .typed span{
    font-weight: 900;
    font-size: 30px;
    color: #faa000;
}

/* header */

header{
    width: 100%;
    background-color: #131313;
    display: flex;
    height: 10vh;
}

header nav{
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

header ul{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
}

header ul li{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

header ul li::before{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #faa000;
    position: absolute;
    bottom: 13px;
    transition: width .3s;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    -ms-transition: width .3s;
    -o-transition: width .3s;
}

header ul li:hover::before{
    width: 100%;
}

header ul li a{
    color: #fff;
    font-size: 15px;
}

header .brand-logo{
    width: 7%;
}

header .brand-logo img{
    width: 100%;
    height: 100%;
}